{% extends "polls/base.html" %}

{% block content %}
<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>
<div class='home-container'>
    <div>
        <h3>Topic</h3>
        <a href="{% url 'home' %}">All</a>
        {% for topic in topics %}
            <div>
                <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
            </div>
        {% endfor %}
        <hr>
        {% for room in rooms %}
            <p class='text-white'>{{room.id}} -- <a href="{% url 'room' room.id %}"> {{ room.name  }}</a>
            <p><a href="/room/{{room.id}}">klik here</a> </p>
            </p>
        {% endfor %}
    </div>
    
    <div>
        <h2>Posts</h2>
        <hr>
        <a href='{% url "create-post" %}'>Create Post</a>
        {% for post in posts %}
        <div>
            <a href="{% url 'update-post' post.id %}"> Edit </a>
            <a href="{% url 'delete-post' post.id %}"> Delete </a>
            <span>@{{ post.author.username }} </span>
            <p class="text-white"> 
                {{ post.id }}. <a href="{% url 'post' post.id %}">){{ post.title }} : </a> {{ post.content }} </p>
        </div>
        {% endfor %}
    </div>
</div>    
{% endblock content %}