{% extends "polls/base.html" %}
{% block content %}
        <p>Mawaddah indonesia adalah wadah untuk antum semua yang sedang ikhtiar mencari pasangan yang Shalih dengan
            cara yang Allah ridhai. Kami memfasilitasi semua proses nya dari mulai upload CV antum sampai terjadinya
            acara pernikahan, semua itu kami kawal dengan ketentuan (Syari’at) Rab kami Allah Subhanahu Wata’ala
            yang maha Agung dan Maha Suci.</p>

        <p>Kami sama sekali tidak memungut biaya dalam proses ta’aruf antum, kami hanya sebagai fasilitator yang
            mudah-mudahan dapat membantu antum mendapatkan kebaikan dari niat antum yaitu pasangan yang Shalih.
            Karena kami sudah cukup puas menjadi perantara antum untuk menyebarkan kebaikan di mukabumi Rab kami
            yang Maha Benar dengan segala ke IndahanNya.</p>

        <p><a href="contact.html" class="btn btn-primary btn-lg">Hubungi kami</a></p>
        
{% endblock content %}