{% extends "polls/base.html" %}

{% block content %}
<h1> @{{ post.author.username }} </h1>
<p> {{ post.content }} </p>
    <div class='comment-wrapper'>
        <h5 class="text-white"> {{ post.title }} </h5>
        <small>{{ post.topic.name}}</small>
        <hr>
        {% for comment in comments %}
            <div>
                <small>@{{ comment.user }} {{comment.created|timesince}} ago</small>
                <p> {{comment.body}}  </p>
                <hr>    
        </div>
        {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
    <div class="comment-form">
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="body" placeholder="insert your comment here">
        </form>
    </div>
    {% endif %}
    <div>
            <p> <a href="{% url 'home' %}">back</a> </p>
    </div>
{% endblock content %}